<div class="request-page">
  <h1 class="home-large-text">Thank<br>You</h1>
</div>

<div class="forms">
  <h3>You will receive a confirmation email shortly.</h3>
  <%= link_to "Return to See Equipment", items_path, class: "signup" %>
  <%= link_to "Return to See All Requests", rentals_all_path, class: "signup" %>
</div>
