<h1>General Assembly Front Lines Equipment Rental</h1>

<p>
  <%= link_to  "Make a Request", new_user_rental_path(@user) %>
</p>

<p>
  <%= link_to "Browse All Equipment", items_path %>
</p>
<p>
  <%= link_to "See All Requests", user_rental_path(@user, @rental) %>
</p>
