/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "PFDin";
  src: url("http://ericaandersen.net/fonts/PF Din Text Comp Pro Bold.ttf") format("tff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "News706";
  src: url("News706 BT Roman.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
 font-family: "Avenir";
 src: url("http://ericaandersen.net/fonts/Avenir.ttc") format("ttc");
 font-style: normal;
 font-weight: normal;
}

body {
  background: whitesmoke;
}

body.yellow {
  background: #FCD410;
}

li {
  padding: 0;
  list-style-type: none;
}

/* Main Styles */

h1.home-large-text, h1.home-medium-text {
  font-family: "PFDinTextCompPro-Bold", sans-serif;
  color: white;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.home-large-text {
  font-size: 7em;
  line-height: .8;
}

h1.home-medium-text {
  font-size: 6em;
  line-height: .8;
}

.see-more {
  font-family: "Avenir", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-page, .request-page, .equipment-page {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://s3.amazonaws.com/ga-core/core/core-static/metros/default-background.jpg);
}

.request-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://ga-core-production-herokuapp-com.global.ssl.fastly.net/assets/education/shared/large-images/915-lounge-f8ace8603d59955d13d465a61fb9d1dc.jpg);
}

.equipment-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://ga-core-production-herokuapp-com.global.ssl.fastly.net/assets/education/web-development-immersive/large-images/students-coding-b1be3d04be4748bdd81b02e213cf0df8.jpg);
}

/* Navigation */

.header-wrapper {
  height: 50px;
 	width: 100%;
 	z-index: 15;
  font-size: 16px;
 	position: fixed;
  background: #000;
 	transition:background 0.5s ease ;
 	-webkit-transition:background 0.5s ease ;
 	top: 0;
 	left: 0;
}

.header {
 	margin: 0 auto;
 	width: 1550px;
 	overflow: hidden;
 	height: 50px;
}

.header a.logo {
  float: left;
 	margin: 10px 0px 0px 0px;
 	width: 230px;
}

.logo img {
  width: 80%;
  margin: .3em 0 .5em;
}

.header ul {
 	float: right;
 	margin-top: 0px;
 	position: absolute;
 	right: 0;
}

.header ul li {
 	float: left;
 	display: block;
 	font-family: "News706BT-RomanC", Georgia;
}

.header ul li:first-child {
 	margin: 0
}

.header ul li a {
  color: #fff;
  display: block;
  padding: 16px;
  text-decoration: none;
}

.header ul li a:hover {
 	color: red;
 	background: #fff;
}

ul.nav {
  padding-left: 0px;
  margin-top: 0px;
}

 /* Mobile Navigation */

.mobileNavWrapper {
 	display: none;
 	width: 250px;
 	height: 100%;
 	min-height: 100%;
 	position: fixed;
 	right: -250px;
 	top: 0;
 	overflow-x: hidden;
 	z-index: 16;
 	background: #212121;
}

.mobileNavWrapper, .header {
 	-webkit-transition: all .30s ease;
 	-ms-transition: all .30s ease;
 	transition: all .30s ease;
 	-webkit-transform: translateX(0px);
 	-ms-transform: translateX(0px);
 	transform: translateX(0px);
 	-webkit-backface-visibility: hidden;
 	-ms-backface-visibility: hidden;
 	backface-visibility: hidden;
}

.mobileNavWrapper ul.nav li a {
 	border-bottom: 1px solid #4B4B4B;
 	width: 100%;
 	float: left;
 	display: block;
 	color: #fff;
 	font-weight: normal;
 	font-style: normal;
 	font-size: 15px;
 	text-transform: uppercase;
 	text-decoration: none;
 	letter-spacing: 2px;
 	padding: 20px;
 	background: #212121;
}

.mobileNavWrapper ul.nav li a:hover {
 	color: #fff;
 	background: #4B4B4B;
}

.mobileNavWrapper.showNav, .wrapper.showNav, .header.showNav {
 	-webkit-transform: translateX(-250px);
 	-ms-transform: translateX(-250px);
 	transform: translateX(-250px);
}

.menuWrapper {
  float: right;
}

#mobileMenuButton {
  width: 45px;
  height: 45px;
}

#menubuttonsvg, #backsvg {
 	display: none;
 	cursor: pointer;
 	float: right;
 	padding: 0;
 	-webkit-transition: all 0.3s ease 0s;
 	transition: all 0.3s ease 0s;
}

#backsvg {
  border: none;
  padding: 0px;
  text-align: right;
}

#menubuttonsvg:hover, #backsvg:hover {
 	background: #4B4B4B;
 	padding: 0px 0px 2px 13px;
}

.logoLink, .mainNav {
 	display: inline-block;
}

/* Forms */

.forms {
  font-family: "News706BT-RomanC", Georgia;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

.forms h2 {
  font-family: "PFDinTextCompPro-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

.field-remember {
  position: relative;
}

p.remember {
  display: inline-block;
}

.submit {
  background: #fa4542;
}

.signup {
  background: #818181;
}

.reset {
  background: #818181;
}

input {
  line-height: 2em;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(239, 239, 239) inset;
}

input.submit {
  width: 29.5% !important;
}

.submit, .signup, .reset {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin: 5px 2px;
  padding: .5em 1em;
  border: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

.forms .field {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.forms input {
  width: 80%;
}

/* Equipment */

.content-grey {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.complex-grid {
  max-width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.complex-grid h2 {
  font-family: "PFDinTextCompPro-Bold", sans-serif;
  color: #000;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 6em;
  line-height: .8;
}

p.resizable.medium {
  font-family: "News706BT-RomanC", Georgia;
  font-size: 1.2em;
}

.note {
  float: right;
  width: 20%;
  position: absolute;
  top: 25%;
  right: 15%;
}

.note h4 {
  line-height: 1.2;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

.note p {
  font-family: "News706BT-RomanC", Georgia;
  font-size: 1em;
}

.panel-grey {
  text-align: center;
  background: #fff;
  padding: 2em;
  display: block;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

.show_items {
  display: block;
  margin: 1em 6em;
  text-align: center;
}

.item_info {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 3em;
}

.item_pix {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  border: 4px solid white;
  border-radius: 180px;
  box-shadow: 0px 0px 5px .2px rgba(0, 0, 0, 0.2);
}

.check_box {
  margin-right: 0.5em;
}

p.description {
  font-family: "News706BT-RomanC", Georgia;
  font-size: .8em;
}

a.rent_link, .quantity {
  font-family: "Avenir", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

a.item_link {
  font-family: "Avenir", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  padding: 5px 0px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}

/* Requests */

.all-requests {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

.request-titles {
  font-family: "News706BT-RomanC", Georgia;
  background: #FEEC9F;
  margin: 10px 0px;
  display: inline-block;
}

.item, .name, .identification, .email, .phone {
  display: inline-block;
  margin: 0 auto;
}

.request-item, .request-id, .request-phone, .request-name, .request-email {
  border-bottom: 5px solid #fff;
  padding: 10px 40px;
}

.request-item {
  background: #DADADA;
}

.request-id, .request-phone, .request-name, .request-email {
  background: #E9E9E9;
}

p a {
  font-size: 1em;
  font-weight: normal;
  color: black;
}

/* Footer */

footer {
  background: #222;
  color: #a2a2a2;
  margin: 2em 0em 0em 0em;
  font: 1.125em/.5em "News706BT-RomanC",Georgia;
  position: relative;
  display: inline-block;
  width: 100%;
}

footer a {
  color: #a2a2a2;
}

footer p {
  font-size: .8em;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
  text-align: right;
}

.footer-left, .footer-right {
  padding: 20px 30px;
}

.footer-left h3, .footer-right h3 {
  font-family: "Avenir", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #dadada;
  margin: .6em 0em;
}

<<<<<<< HEAD
/* Items Index View */

.show_items {
  display: block;
  margin: 6em;
  text-align: center;
}

.item_info {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 3em;
}

.item_pix {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 180px;
  box-shadow: -1px 0px 9px 1px darkgrey;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.quantity {
  font-size: 16px;
  font-weight: 900;
}

.check_box {
  margin-right: 0.5em;
}

.sort_equipment {
  display: block;
  font-family: times;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  padding: 10px;
  color: white;
  background: red;
  border: 1px solid red;
  border-radius: 10px;
  width: 150px;
}



/* Media Queries */


@media screen and (max-width: 1550px) { /*LARGER SCREEN ADJUSTMENTS*/

}

@media screen and (max-width: 1500px) { /*TYPICAL LAPTOP ADJUSTMENTS*/
.header {
	width: 100%;
}

.header a.logo {
  margin: 10px 0 0 10px;
  width: 230px;
}
}

@media screen and (max-width: 1210px) { /*TYPICAL LANDSCAPE TABLET ADJUSTMENTS*/
.header ul li a {
  padding: 18px 13px 0 ;
}

.header-wrapper {
	height: 50px;
}

.header ul li a {
	height: 43px;
}
}

@media screen and (max-width: 900px) { /*SMALLER TABLET/PORTRAIT TABLET ADJUSTMENTS*/
.header ul {
	display: none;
}

.mobileNavWrapper, #menubuttonsvg, #backsvg {
  display: inline-block;
}

p {
  font-size: 1.2em;
}

.content {
  padding: 0% 10%;
  top: 35%;
}

.content h2 {
  font-size: 1.5em;
}


@media screen and (max-width: 500px) { /*TYPICAL MOBILE ADJUSTMENTS*/

p {
  font-size: .9em;
}

.content {
  padding: 0% 10%;
  top: 30%;
}

.content h2 {
  font-size: 1.25em;
}

}
